.App {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*** MULTISELECT DROPDOWN STYLING ***/
.multiselect {
  position: relative;
  display: inline-block;
}

.dropdown__selection {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 16px;
}

.dropdown__list {
  max-height: 200px;
  width: 100%;
  border: 1px solid black;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown__list li {
  padding: 4px 6px;
}

.dropdown__list li:hover {
  background-color: #206bfd55;
}

.dropdown__listitem {
  display: flex;
  align-items: center;
}

.chevron {
  height: 12px;
  width: 12px;
}

.checkbox {
  height: 12px;
  width: 12px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.checkbox__checked {
  background-color: #206bfd;
}
